.filemanager-field {
    display: flex;
    max-width: 100%;
}

.filemanager-field button {
    flex-shrink: 0;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    vertical-align: top;
}

.filemanager-field button:hover,
.filemanager-field button:focus {
    border-radius: var(--radius);
}

.filemanager-field input {
    flex: 1 1 100%;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left-color: transparent !important;
    vertical-align: top;
}

.filemanager-dialog {
    padding: 0;
    width: calc(100% - var(--gap));
    max-width: unset;
}

.filemanager-dialog form {
    display: flex;
    gap: var(--gap-small);
    background: var(--light-grey);
    box-shadow: var(--shadow-small);
    padding: 0;
    padding-left: var(--gap);
    width: auto;
    max-width: unset;
    height: var(--header-height);
    line-height: var(--header-height);
    text-align: left;
    overflow: hidden;
}

.filemanager-dialog form button {
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin-right: 0;
    padding-left: calc(var(--component-padding-h) + var(--gap-small));
}

.filemanager-dialog form button:last-child {

    padding-right: calc(var(--component-padding-h) + var(--gap-small));
    padding-left: 0;
}

.filemanager-dialog form button:hover {
    transform: scale(1.2); /* exaggerated effect, as it's the only hover effect on this button */
}

.filemanager-dialog form button:focus {
    outline: none;
}

.filemanager-dialog form button:focus .icon{
    outline: var(--outline);
    outline-offset: 1px;
    border-radius: var(--radius);
}

.filemanager-dialog form button .icon {
    top: 0;
    vertical-align: baseline;
}

.filemanager-dialog form :is(h1, h2, h3, h4, h5, h6) {
    flex-grow: 1;
    margin-bottom: 0;
}

.filemanager-dialog iframe {
    width: 100%;
    height: 600px;
    vertical-align: top;
    border: none;
}

@media (min-width: 768px) {
    .filemanager-dialog {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .filemanager-dialog {
        width: 900px;
    }
}
