/* Actually use FiraGo instead of Fira Sans */

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/static/fonts/FiraGO-Regular.woff2') format('woff2'),
       url('/static/fonts/FiraGO-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/static/fonts/FiraGO-Italic.woff2') format('woff2'),
       url('/static/fonts/FiraGO-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/static/fonts/FiraGO-Bold.woff2') format('woff2'),
       url('/static/fonts/FiraGO-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/static/fonts/FiraGO-BoldItalic.woff2') format('woff2'),
       url('/static/fonts/FiraGO-BoldItalic.woff') format('woff');
}
