:root {
    --bootstrap-blue: #337ab7;
    --cover-blue: #36749d;
    --switch-checked-color: var(--bootstrap-blue);
    --switch-unchecked-color: #b5b5b5;
    --switch-base-color: #ffffff;
}

header.page-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.page-header h1 {
    margin-top: 0;
}

textarea {
    resize: vertical;
}

.table .list-inline {
    margin-bottom: 0;
}

.table td.is-truncated,
.table th.is-truncated {
    position: relative;
    width: 30ch;
    min-width: 20ch;
}
        
.table td.is-truncated > *,
.table th.is-truncated > * {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sortable-handle {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


/*******************************************************************************
 * Switch
 * 
 * Based on Cover Style System's switch. Replace this implementation when
 * replacing the CSS framework.
 ******************************************************************************/


.switch {
    --size: 1rem;
    --switch-height: calc(var(--size) * 1.5);
    --switch-width: calc(var(--switch-height) * 2);
    --paddle-offset: .15rem;
    --paddle-height: calc(var(--switch-height) - var(--paddle-offset) * 2);
    --paddle-width: calc(var(--switch-height) - var(--paddle-offset) * 2);
    --paddle-active-offset: calc(var(--switch-width) - var(--paddle-width) - var(--paddle-offset) * 1.5);
}

.switch.is-small { --size: .75rem; }
.switch.is-medium { --size: 1.25rem; }
.switch.is-large { --size: 1.5rem; }

.switch label {
    position: relative;
    display: inline-block;
    font-size: var(--size);
    line-height: initial;
    padding-left: calc(var(--switch-width) + .5em);
    padding-top: 0.2rem;
    cursor: pointer;
    min-width: var(--switch-width);
    min-height: var(--switch-height);
    margin-bottom: 0;
    vertical-align: middle;
}

.switch input {
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    position: absolute;
    opacity: 0;
}

.switch input:focus + label::after,
.switch input:focus + label::before,
.switch input:focus + label:after,
.switch input:focus + label:before{
    outline: 1px dotted var(--switch-unchecked-color);
}

.switch input + label::before {
    position: absolute;
    display: block;
    top: calc(50% - var(--switch-height) * .5);
    left: 0;
    width: var(--switch-width);
    height: var(--switch-height);
    border: 0.1rem solid transparent;
    border-radius: calc(var(--switch-height) / 2);
    background: var(--switch-unchecked-color);
    content: '';
}

.switch input + label::after {
    display: block;
    position: absolute;
    top: calc(50% - var(--paddle-height) * .5);
    left: var(--paddle-offset);
    width: var(--paddle-width);
    height: var(--paddle-height);
    transform: translate3d(0, 0, 0);
    border-radius: 50%;
    background: var(--switch-base-color);
    transition: all 0.25s ease-out;
    content: '';
}

.switch input:checked + label::before {
    background: var(--switch-checked-color);
}

.switch input:checked + label::after {
    left: var(--paddle-active-offset);
    background-image: linear-gradient(to bottom, var(--switch-base-color) 20%, transparent 20%, transparent 80%, var(--switch-base-color) 80%),
                      linear-gradient(to right, transparent 43.75%, var(--switch-checked-color) 43.75%, var(--switch-checked-color) 56.25%, transparent 56.25%);
}


/*******************************************************************************
 * Modals
 ******************************************************************************/

.modal.static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

.modal.iframe-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.iframe-modal .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 80vh;
    position: relative;
}

.modal.iframe-modal .modal-dialog .close {
    position: absolute;
    font-size: 2em;
    right: -1em;
    color: white;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
}

.modal .slide-preview {
    width: 100%;
    display: block;
    position: relative;
    padding-top: 56.25%; /* 16 by 9 */
}

.modal .slide-preview iframe {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.modal .filemanager-modal .modal-body {
    padding: 0;
}

.modal .filemanager-modal iframe {
    width: 100%;
    height: 600px;
    vertical-align: top;
}


/*******************************************************************************
 * Slide list
 ******************************************************************************/

.slide-list-table > tbody > tr > td,
.slide-list-table > tbody > tr > th {
    line-height: calc(1em * 1.5); /* Switch height */
    white-space: nowrap;
}
