<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><?php if (!empty($title)):?><?= $title ?> &mdash; <?php endif ?> Cover Screen</title>
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css">
        <link rel="stylesheet" href="//cdl.svcover.nl/dist/v0.1/css/cdl.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css">
        <?= !empty($styles) ? $styles : ''?>
    </head>
    <body>
        <nav class="navbar navbar-cover">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed navicon-button" href="#navbar-main-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="navbar-main-collapse">
                        <span class="navicon navicon-white"></span>
                    </button>
                    <a class="navbar-logo" href="//www.svcover.nl/"><img src="//cdl.svcover.nl/dist/v0.1/img/cover.png" alt="Cover"></a>
                    <a class="navbar-brand" href="/">Screen</a>
                </div>
                <!-- Toggleable content -->
                <div class="collapse navbar-collapse" id="navbar-main-collapse">
                    <ul class="navbar-right">
                        <li>
                            <a href="/admin" aria-label="Admin" title="Admin">
                                <i class="fas fa-cog" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/help.php" aria-label="Help" title="Help">
                                <i class="fas fa-question" aria-hidden="true"></i>
                            </a>
                        </li>
                        <!-- Dropdown menu -->
                        <?php if(!cover_session_logged_in()): ?>
                            <li><a href="<?= cover_login_url() ?>">Log in</a></li>
                        <?php else: ?>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="User">
                                    <i class="fas fa-user" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Logged in as <?= $this->html(get_cover_session()->voornaam) ?></li>
                                    <li><a href="<?= cover_logout_url() ?>">Logout</a></li>
                                </ul>
                            </li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </nav>
        <?= !empty($content) ? $content : ''?>

        <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="//stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <?= !empty($scripts) ? $scripts : ''?>
        <script src="/static/js/dialog.js"></script>
</body>
</html>
